IVOY_AUTH_USER=TESTTEST
IVOY_AUTH_PASS=PASSPASS
IVOY_USER=test@test.com
IVOY_PASS=sandbox
IVOY_URL=https://api.ivoy.mx
IVOY_WEB_URL=https://api.ivoy.mx
IVOY_WEB_AUTH_PASS=qnxknYFRMnhn6yUbVpyhd4xN
IVOY_WEB_AUTH_USER=IVOYAPI
IVOY_SAME_DAY_AUTH_USER=TESTSDAPI
IVOY_SAME_DAY_AUTH_PASS=PASSPASS
IVOY_ID_CLIENT=69319
