# Define these env vars for tests
IVOY_AUTH_PASS=
IVOY_AUTH_USER=
IVOY_PASS=
IVOY_URL=
IVOY_USER=
IVOY_WEB_URL=
IVOY_WEB_AUTH_PASS=
IVOY_WEB_AUTH_USER=
IVOY_SAME_DAY_AUTH_USER=
IVOY_SAME_DAY_AUTH_PASS=
IVOY_ID_CLIENT=
