interactions:
- request:
    body: '{"data": {"systemRequest": {"user": "USER", "password": "PASS"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ivoy.dev/api/login/loginClient/json/web
  response:
    body:
      string: '{"code": 0, "token": {"access_token": "123"}}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - D1S8GFsVoAMFsBg=
      x-amzn-Remapped-Content-Length:
      - '4891'
      x-amzn-Remapped-Date:
      - Wed, 27 Nov 2019 19:16:16 GMT
      x-amzn-RequestId:
      - 8db23a72-5fda-4254-ae02-4736755fd22e
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"systemRequest": {"user": "USER", "password": "PASS"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ivoy.dev/api/login/loginClient/json/web
  response:
    body:
      string: '{"code": 0, "token": {"access_token": "123"}}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - D1S8HGAGoAMFmeA=
      x-amzn-Remapped-Content-Length:
      - '4890'
      x-amzn-Remapped-Date:
      - Wed, 27 Nov 2019 19:16:16 GMT
      x-amzn-RequestId:
      - d053b0f3-a38c-480c-88a8-d0c42d64e442
    status:
      code: 200
      message: OK
version: 1
