interactions:
- request:
    body: '{"data": {"systemRequest": {"user": "USER", "password": "PASS"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ivoy.mx/api/login/loginClient/json/web
  response:
    body:
      string: '{"code":-192,"message":"Correo Invalido"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - D1S8LEWSoAMF3Lg=
      x-amzn-Remapped-Content-Length:
      - '41'
      x-amzn-Remapped-Date:
      - Wed, 27 Nov 2019 19:16:17 GMT
      x-amzn-RequestId:
      - f6ef8156-f2f3-4abc-a674-dfc14e79e7c0
    status:
      code: 200
      message: OK
version: 1
