interactions:
- request:
    body: '{"data": {"systemRequest": {"user": "USER", "password": "PASS"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ivoy.mx:2053/api/login/loginClient/json/web
  response:
    body:
      string: '{"token": 123}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"bOrder": {"idOrder": 1437397}}}'
    headers:
      Content-type:
      - application/json
    method: POST
    uri: https://data.alb.api.ivoy.mx/api/orderSharing/createSharingURL/json/web
  response:
    body:
      string: '{"code":0,"data":{"messengerRate":0.0,"trackingURL":"https://v2.ivoy.mx/client/app/share/ABCDEG="}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
