interactions:
- request:
    body: '{"data": {"systemRequest": {"user": "USER", "password": "PASS"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ivoy.dev/api/login/loginClient/json/web
  response:
    body:
      string: '{"code": 0, "token": {"access_token": "123"}, "data":{"idClient": 69319}}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - HBnsVEYaIAMFn6w=
      x-amzn-Remapped-Content-Length:
      - '4891'
      x-amzn-Remapped-Date:
      - Tue, 28 Jan 2020 19:06:55 GMT
      x-amzn-RequestId:
      - d76f2227-4932-45b7-b0fd-2a3f99cd249e
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"bOrder": {"idOrder": "wrong"}}}'
    headers:
      Content-type:
      - application/json
    method: PUT
    uri: https://api.ivoy.dev/api/order/newOrder/json/web
  response:
    body:
      string: '{"code":-208,"message":"La dirección frecuente ya existe."}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - HBnsgEGIoAMFzHw=
      x-amzn-Remapped-Content-Length:
      - '3859'
      x-amzn-Remapped-Date:
      - Tue, 28 Jan 2020 19:06:57 GMT
      x-amzn-RequestId:
      - 0adc601e-5536-4005-9d1c-6a1c231fa79b
    status:
      code: 200
      message: OK
version: 1
