interactions:
- request:
    body: '{"data": {"systemRequest": {"user": "USER", "password": "PASS"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri:  https://api.ivoy.mx/api/login/loginClient/json/web
  response:
    body:
      string: '{"code": 0, "token": {"access_token": "123"}, "data":{"idClient": 69319}}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - EFvvyHZuoAMFehw=
      x-amzn-Remapped-Content-Length:
      - '4891'
      x-amzn-Remapped-Date:
      - Mon, 02 Dec 2019 19:03:26 GMT
      x-amzn-RequestId:
      - 401c86b4-1782-4964-9b20-72f4986b602a
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"bOrder": {"orderAddresses": [{"isPickup": 1, "isSource": 1,
      "comment": "N/A", "personApproved": "Jon Doe", "phone": "5522334455", "address":
      {"idAddress": null, "externalNumber": "36", "internalNumber": null, "latitude":
      "19.4245207", "longitude": "-99.1676911", "neighborhood": "Juarez", "street":
      "Varsovia", "zipCode": "06600"}}, {"isPickup": 0, "isSource": 0, "comment":
      "N/A", "personApproved": "Lewis Hamilton", "phone": "5566778899", "address":
      {"idAddress": null, "externalNumber": "180", "internalNumber": "1", "latitude":
      "19.4133562", "longitude": "-99.1672142", "neighborhood": "Hipodromo", "street":
      "Sonora", "zipCode": "06100"}}]}}}'
    headers:
      Content-type:
      - application/json
    method: POST
    uri: https://api.ivoy.mx/api/order/validZipCode/json/web
  response:
    body:
      string: "{\"code\":0,\"data\":{\"discount\":0.0,\"distance\":1.58,\"extraCharge\"\
        :0.0,\"packageValue\":0.0,\"price\":35.0,\"eta\":28.0,\"rating\":0.0,\"total\"\
        :35.0,\"messengerFee\":0.0,\"ivoyCost\":0.0,\"isBike\":true,\"zone\":{\"idZone\"\
        :1,\"description\":\"CDMX|M\xC9X.|MOR.|HGO.\",\"name\":\"cdmx\"},\"packageType\"\
        :{\"idPackageType\":1},\"orderAddresses\":[{\"isPickup\":1,\"isSource\":1,\"\
        comment\":\"N/A\",\"personApproved\":\"Jon Doe\",\"priceBusiness\":0.0,\"\
        tip\":0.0,\"phone\":\"5522334455\",\"distance\":0.0,\"eta\":0.0,\"price\"\
        :0.0,\"address\":{\"externalNumber\":\"36\",\"latitude\":19.4245207,\"longitude\"\
        :-99.1676911,\"neighborhood\":\"Juarez\",\"street\":\"Varsovia\",\"zipCode\"\
        :\"06600\"},\"source\":true},{\"isPickup\":0,\"isSource\":0,\"comment\":\"\
        N/A\",\"personApproved\":\"Lewis Hamilton\",\"priceBusiness\":0.0,\"tip\"\
        :0.0,\"phone\":\"5566778899\",\"distance\":1.58,\"eta\":8.0,\"price\":35.0,\"\
        address\":{\"externalNumber\":\"180\",\"internalNumber\":\"1\",\"latitude\"\
        :19.4133562,\"longitude\":-99.1672142,\"neighborhood\":\"Hipodromo\",\"street\"\
        :\"Sonora\",\"zipCode\":\"06100\"},\"source\":false}],\"promoCodeBalance\"\
        :0.0,\"referralBalance\":0.0,\"prepaidBalance\":0.0,\"creditBalance\":0.0,\"\
        othersBalance\":0.0,\"vehicle\":{\"idVehicle\":3,\"dateAdd\":null,\"dateDelete\"\
        :null,\"dateEdit\":null,\"description\":null,\"name\":null,\"zones\":null,\"\
        maxPackageWeight\":0.0,\"maxPackageWidth\":0.0,\"maxPackageLength\":0.0,\"\
        maxPackageHeight\":0.0,\"maxPackageVolumetric\":0.0,\"userAdd\":null,\"userDelete\"\
        :null,\"userEdit\":null},\"revenueHotZone\":0.0}}"
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - EFvv2EXGIAMFisg=
      x-amzn-Remapped-Content-Length:
      - '1385'
      x-amzn-Remapped-Date:
      - Mon, 02 Dec 2019 19:03:27 GMT
      x-amzn-RequestId:
      - 21dbadaa-0285-41f6-bde9-3adfe103d8dd
    status:
      code: 200
      message: OK
version: 1
