interactions:
- request:
    body: '{"data": {"systemRequest": {"user": "USER", "password": "PASS"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ivoy.dev/api/login/loginClient/json/web
  response:
    body:
      string: '{"code": 0, "token": {"access_token": "123"}, "data":{"idClient": 69319}}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - EFvxME4-oAMFWyw=
      x-amzn-Remapped-Content-Length:
      - '4891'
      x-amzn-Remapped-Date:
      - Mon, 02 Dec 2019 19:03:35 GMT
      x-amzn-RequestId:
      - 08bff0ca-bd7c-43cb-a622-60c44b218af0
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"bOrder": {"idOrder": "wrong"}}}'
    headers:
      Content-type:
      - application/json
    method: POST
    uri: https://api.ivoy.dev/api/order/getById/json/web
  response:
    body:
      string: '{"code":-100,"message":"Formato invalido"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - EFvxQE1roAMFUCg=
      x-amzn-Remapped-Content-Length:
      - '42'
      x-amzn-Remapped-Date:
      - Mon, 02 Dec 2019 19:03:35 GMT
      x-amzn-RequestId:
      - 079a743e-a2af-4e31-a00c-36c66900e9ab
    status:
      code: 200
      message: OK
version: 1
