interactions:
- request:
    body: '{"data": {"systemRequest": {"user": "USER", "password": "PASS"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ivoy.dev/api/login/loginClient/json/web
  response:
    body:
      string: "{\"code\":0,\"data\":{\"idClient\":69319,\"cellPhone\":\"5500550000\"\
        ,\"device\":\"web\",\"email\":\"cuenca.dev@cuenca.com\",\"firstName\":\"Cuenca\"\
        ,\"isActive\":true,\"isPaymentMandatory\":0,\"lastName\":\"Dev\",\"nickname\"\
        :\"Cuenca_3CBL6_c\",\"clientProfile\":{\"idClientProfile\":6,\"dateAdd\":null,\"\
        dateDelete\":null,\"dateEdit\":null,\"description\":\"Clientes Credito/Prepago\"\
        ,\"name\":\"client_c_p\",\"userAdd\":null,\"userDelete\":null,\"userEdit\"\
        :null,\"clientModules\":[{\"idClientModule\":33,\"isMain\":null,\"dateAdd\"\
        :null,\"dateDelete\":null,\"dateEdit\":null,\"userAdd\":null,\"userDelete\"\
        :null,\"userEdit\":null,\"clientModule\":null,\"clientModules\":null,\"module\"\
        :{\"idModule\":54,\"dateAdd\":null,\"dateDelete\":null,\"dateEdit\":null,\"\
        description\":null,\"name\":\"client_credit_prepaid\",\"path\":\"/client/payMethod/creditPrepaid\"\
        ,\"userAdd\":null,\"userDelete\":null,\"userEdit\":null}},{\"idClientModule\"\
        :53,\"isMain\":null,\"dateAdd\":null,\"dateDelete\":null,\"dateEdit\":null,\"\
        userAdd\":null,\"userDelete\":null,\"userEdit\":null,\"clientModule\":null,\"\
        clientModules\":null,\"module\":{\"idModule\":57,\"dateAdd\":null,\"dateDelete\"\
        :null,\"dateEdit\":null,\"description\":null,\"name\":\"client_internal_guide\"\
        ,\"path\":\"/client/internal/guide\",\"userAdd\":null,\"userDelete\":null,\"\
        userEdit\":null}}]},\"clientType\":{\"idClientType\":8,\"dateAdd\":null,\"\
        dateDelete\":null,\"dateEdit\":null,\"description\":\"Cliente Same Day Credito\"\
        ,\"name\":\"client_same_day_credit\",\"userAdd\":null,\"userDelete\":null,\"\
        userEdit\":null},\"gender\":{\"idGender\":1,\"dateAdd\":null,\"dateDelete\"\
        :null,\"dateEdit\":null,\"description\":\"Hombre\",\"name\":\"male\",\"userAdd\"\
        :null,\"userDelete\":null,\"userEdit\":null},\"clientCreditcards\":[],\"clientInvoiceData\"\
        :[{\"idClientInvoiceData\":69319,\"dateAdd\":null,\"dateDelete\":null,\"dateEdit\"\
        :null,\"name\":\"CUENCA DEV\",\"rfc\":null,\"userAdd\":null,\"userDelete\"\
        :null,\"userEdit\":null,\"client\":null,\"address\":{\"latitude\":0.0,\"longitude\"\
        :0.0},\"neighborhood\":null,\"street\":null,\"municipality\":null,\"zipCode\"\
        :null,\"state\":null,\"country\":null}],\"smdClientPricings\":[{\"idSmdClientPricing\"\
        :45,\"dateAdd\":null,\"dateDelete\":null,\"dateEdit\":null,\"price\":50.0,\"\
        revenue\":40.0,\"userAdd\":null,\"userDelete\":null,\"userEdit\":null,\"idClient\"\
        :69319,\"tillWeight\":2.0,\"multiGuidePricings\":[],\"zone\":{\"idZone\":1,\"\
        description\":\"CDMX|M\xC9X.|MOR.|HGO.\",\"name\":\"cdmx\"}}],\"paymentMethods\"\
        :[{\"idPaymentMethod\":4,\"description\":\"Orden Prepagada\",\"name\":\"credit_prepaid\"\
        ,\"zones\":\"|1|2|3|\"}],\"clientReferral\":{\"idClientReferral\":69319,\"\
        dateAdd\":null,\"dateDelete\":null,\"dateEdit\":null,\"referralBalance\":0.0,\"\
        referralCode\":\"SAP7R\",\"userAdd\":null,\"userDelete\":null,\"userEdit\"\
        :null,\"client\":null,\"clientReferring\":null},\"clientConfigurations\":[{\"\
        idClientConfiguration\":636616,\"dateAdd\":1575479743244,\"dateDelete\":null,\"\
        dateEdit\":1580830861000,\"value\":null,\"isActive\":true,\"userDelete\":null,\"\
        userAdd\":\"register.client\",\"userEdit\":\"Octavio_P5XUL_u\",\"idConfiguration\"\
        :1,\"idClient\":69319},{\"idClientConfiguration\":636617,\"dateAdd\":1575479743244,\"\
        dateDelete\":null,\"dateEdit\":1580830861000,\"value\":null,\"isActive\":false,\"\
        userDelete\":null,\"userAdd\":\"register.client\",\"userEdit\":\"Octavio_P5XUL_u\"\
        ,\"idConfiguration\":2,\"idClient\":69319},{\"idClientConfiguration\":636618,\"\
        dateAdd\":1575479743244,\"dateDelete\":null,\"dateEdit\":1580830861000,\"\
        value\":null,\"isActive\":true,\"userDelete\":null,\"userAdd\":\"register.client\"\
        ,\"userEdit\":\"Octavio_P5XUL_u\",\"idConfiguration\":3,\"idClient\":69319},{\"\
        idClientConfiguration\":636619,\"dateAdd\":1575479743244,\"dateDelete\":null,\"\
        dateEdit\":1580830861000,\"value\":null,\"isActive\":false,\"userDelete\"\
    [...]
[...]
- request:
    body: '{"data": {"packageRequest": {"idClient": "69319", "startPage": 1, "elementsByPage":
      10, "fromDate": 1580855097790, "untilDate": 1580925884950}}}'
    headers:
      Content-type:
      - application/json
    method: POST
    uri: https://api.ivoy.dev/public/packages/getData/getPackagesWithFilters/json/web
  response:
    body:
      string: "{\"code\":0,\"data\":{\"fromDate\":1580855097790,\"untilDate\":1580925884950,\"\
        packages\":[{\"idPackage\":40857,\"idPackageStatus\":1,\"packageStatus\":\"\
        Paquete creado\",\"idAddress\":303389,\"address\":\"MICHOAC\xC1N 27, HIP\xD3\
        DROMO, 6100 CUAUHTEMOC, CDMX\",\"latitude\":19.41042803794819,\"longitude\"\
        :-99.16771385476989,\"deliveryZone\":1,\"idClient\":69319,\"client\":\"Cuenca\
        \ Dev\",\"dateAdd\":1580855097799,\"warehouse\":\"VARSOVIA 36, JU\xC1REZ,\
        \ 6600 null, CDMX\",\"wLatitude\":19.4244499,\"wLongitude\":-99.16771389999997,\"\
        guide\":\"000303389P000040857\",\"guideIvoy\":\"000303389P000040857\",\"zipCode\"\
        :\"6100\",\"municipality\":\"CUAUHTEMOC\",\"packageVisitCount\":0,\"contact\"\
        :\"Andres Hernandez\",\"idZone\":1,\"height\":0.0,\"width\":0.0,\"length\"\
        :0.0,\"volWeight\":0.0,\"realWeight\":0.0,\"validInfo\":2,\"similarity\":0.0,\"\
        originalAddress\":\"MICHOAC\xC1N 27 INT , HIP\xD3DROMO\\n C. P. 06100\",\"\
        emailContact\":\"andres@cuenca.com\",\"phoneContact\":\"5529372492\",\"comment\"\
        :\"Churrer\xEDa El Moro\",\"inTransit\":false,\"office\":true},{\"idPackage\"\
        :40864,\"idPackageStatus\":1,\"packageStatus\":\"Paquete creado\",\"idAddress\"\
        :303389,\"address\":\"MICHOAC\xC1N 27, HIP\xD3DROMO, 6100 CUAUHTEMOC, CDMX\"\
        ,\"latitude\":19.41042803794819,\"longitude\":-99.16771385476989,\"deliveryZone\"\
        :1,\"idClient\":69319,\"client\":\"Cuenca Dev\",\"dateAdd\":1580857397014,\"\
        warehouse\":\"VARSOVIA 36, JU\xC1REZ, 6600 null, CDMX\",\"wLatitude\":19.4244499,\"\
        wLongitude\":-99.16771389999997,\"guide\":\"000303389P000040864\",\"guideIvoy\"\
        :\"000303389P000040864\",\"zipCode\":\"6100\",\"municipality\":\"CUAUHTEMOC\"\
        ,\"packageVisitCount\":0,\"contact\":\"Andres Hernandez\",\"idZone\":1,\"\
        height\":0.0,\"width\":0.0,\"length\":0.0,\"volWeight\":0.0,\"realWeight\"\
        :0.0,\"validInfo\":2,\"similarity\":0.0,\"originalAddress\":\"MICHOAC\xC1\
        N 27 INT , HIP\xD3DROMO\\n C. P. 06100\",\"emailContact\":\"andres@cuenca.com\"\
        ,\"phoneContact\":\"5529372492\",\"comment\":\"Churrer\xEDa El Moro\",\"inTransit\"\
        :false,\"office\":true},{\"idPackage\":40865,\"idPackageStatus\":1,\"packageStatus\"\
        :\"Paquete creado\",\"idAddress\":303389,\"address\":\"MICHOAC\xC1N 27, HIP\xD3\
        DROMO, 6100 CUAUHTEMOC, CDMX\",\"latitude\":19.41042803794819,\"longitude\"\
        :-99.16771385476989,\"deliveryZone\":1,\"idClient\":69319,\"client\":\"Cuenca\
        \ Dev\",\"dateAdd\":1580857407849,\"warehouse\":\"VARSOVIA 36, JU\xC1REZ,\
        \ 6600 null, C[...]
