interactions:
- request:
    body: '{"data": {"systemRequest": {"user": "USER", "password": "PASS"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ivoy.dev/api/login/loginClient/json/web
  response:
    body:
      string: '{"code": 0, "token": {"access_token": "123"}}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - HBlO0HGPIAMFY5w=
      x-amzn-Remapped-Content-Length:
      - '4891'
      x-amzn-Remapped-Date:
      - Tue, 28 Jan 2020 18:50:07 GMT
      x-amzn-RequestId:
      - 5dbc781e-a992-493d-8049-45db71334ec7
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"bOrder": {"idOrder": "wrong"}}}'
    headers:
      Content-type:
      - application/json
    method: PUT
    uri: https://api.ivoy.dev/api/order/newOrder/json/web
  response:
    body:
      string: '{"code":-144,"message":"Necesitas estar registrado para usar un código"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - HBlPBHCUoAMFc4g=
      x-amzn-Remapped-Content-Length:
      - '3859'
      x-amzn-Remapped-Date:
      - Tue, 28 Jan 2020 18:50:09 GMT
      x-amzn-RequestId:
      - 8b15654f-a10d-4e7d-b1e6-96cc59ef2ebf
    status:
      code: 200
      message: OK
version: 1
