interactions:
- request:
    body: '{"data": {"systemRequest": {"user": "USER", "password": "PASS"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ivoy.mx/api/login/loginClient/json/web
  response:
    body:
      string: "{\"code\":0,\"data\":{\"idClient\":69319,\"cellPhone\":\"5500550000\",\"device\":\"web\",\"email\":\"cuenca.dev@cuenca.com\",\"firstName\":\"Cuenca\",\"isActive\":true,\"isPaymentMandatory\":0,\"lastName\":\"Dev\",\"nickname\":\"Cuenca_3CBL6_c\",\"clientProfile\":{\"idClientProfile\":6,\"description\":\"Clientes
        Credito/Prepago\",\"name\":\"client_c_p\",\"clientModules\":[{\"idClientModule\":33,\"module\":{\"idModule\":54,\"name\":\"client_credit_prepaid\",\"path\":\"/client/payMethod/creditPrepaid\"}},{\"idClientModule\":53,\"module\":{\"idModule\":57,\"name\":\"client_internal_guide\",\"path\":\"/client/internal/guide\"}}]},\"clientType\":{\"idClientType\":8,\"description\":\"Cliente
        Same Day Credito\",\"name\":\"client_same_day_credit\"},\"gender\":{\"idGender\":1,\"description\":\"Hombre\",\"name\":\"male\"},\"clientCreditcards\":[],\"clientInvoiceData\":[{\"idClientInvoiceData\":69319,\"name\":\"CUENCA
        DEV\",\"address\":{\"latitude\":0.0,\"longitude\":0.0,\"originalAddress\":\"null
        null, null null\"}}],\"smdClientPricings\":[{\"idSmdClientPricing\":45,\"price\":50.0,\"revenue\":40.0,\"idClient\":69319,\"tillWeight\":2.0,\"uuid\":\"9ac7ec65-9015-11ea-9326-0242ac130002\",\"multiGuidePricings\":[],\"zone\":{\"idZone\":1,\"description\":\"CDMX|M\xC9X.|MOR.|HGO.\",\"name\":\"cdmx\"}}],\"paymentMethods\":[{\"idPaymentMethod\":4,\"description\":\"Orden
        Prepagada\",\"name\":\"credit_prepaid\",\"zones\":\"|1|2|3|\"}],\"clientReferral\":{\"idClientReferral\":69319,\"referralBalance\":0.0,\"referralCode\":\"SAP7R\"},\"clientConfigurations\":[{\"idClientConfiguration\":463965,\"dateAdd\":1575479743244,\"dateEdit\":1580830861000,\"isActive\":true,\"userAdd\":\"register.client\",\"userEdit\":\"Octavio_P5XUL_u\",\"idConfiguration\":1,\"idClient\":69319},{\"idClientConfiguration\":463966,\"dateAdd\":1575479743244,\"dateEdit\":1580830861000,\"isActive\":false,\"userAdd\":\"register.client\",\"userEdit\":\"Octavio_P5XUL_u\",\"idConfiguration\":2,\"idClient\":69319},{\"idClientConfiguration\":463967,\"dateAdd\":1575479743244,\"dateEdit\":1580830861000,\"isActive\":true,\"userAdd\":\"register.client\",\"userEdit\":\"Octavio_P5XUL_u\",\"idConfiguration\":3,\"idClient\":69319},{\"idClientConfiguration\":463968,\"dateAdd\":1575479[...]
[...]
- request:
    body: '{"data": {"bOrder": {"idOrder": 123}}}'
    headers:
      Content-type:
      - application/json
    method: POST
    uri: https://api.ivoy.mx/v1/data/orderSharing/getOrderSharing/json/web
  response:
    body:
      string: '{"code":-111,"message":"Informacion invalida: Datos de la Orden"}'
    headers:
      Content-Type:
      - application/json
      WWW-Authenticate:
      - Key realm="kong"
    status:
      code: 200
      message: OK
version: 1
