interactions:
- request:
    body: '{"data": {"systemRequest": {"user": "USER", "password": "PASS"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ivoy.mx/api/login/loginClient/json/web
  response:
    body:
      string: "{\"code\":0,\"data\":{\"idClient\":82597,\"cellPhone\":\"5564213395\"\
        ,\"device\":\"web\",\"email\":\"soporte@cuenca.com\",\"firstName\":\"Cuenca\"\
        ,\"image\":\"https://s3.amazonaws.com/api.ivoy/IVOYAPI/clients/photosProfile/1e3a2252f80c95ed6ee7dc473a1b8b91.jpg\"\
        ,\"isActive\":true,\"isPaymentMandatory\":0,\"paymentManagerToken\":\"cus_5be08ce8e9d19\"\
        ,\"lastName\":\".\",\"nickname\":\"Daniel Monterde_Y2H72_c\",\"clientProfile\"\
        :{\"idClientProfile\":6,\"description\":\"Clientes Credito/Prepago\",\"name\"\
        :\"client_c_p\",\"clientModules\":[{\"idClientModule\":33,\"module\":{\"idModule\"\
        :54,\"name\":\"client_credit_prepaid\",\"path\":\"/client/payMethod/creditPrepaid\"\
        }},{\"idClientModule\":53,\"module\":{\"idModule\":57,\"name\":\"client_internal_guide\"\
        ,\"path\":\"/client/internal/guide\"}}]},\"clientType\":{\"idClientType\"\
        :2,\"description\":\"Cliente con Prepago\",\"name\":\"client_prepaid\"},\"\
        gender\":{\"idGender\":1,\"description\":\"Hombre\",\"name\":\"male\"},\"\
        clientCreditcards\":[{\"idClientCreditcard\":65422,\"cardHolderName\":\"Luis\
        \ Daniel Monterde Noriega\",\"expMonth\":\"08\",\"expYear\":\"24\",\"isDefault\"\
        :1,\"publicNumber\":\"3076\",\"token\":\"crd_5dbb12b65cd2d|tok_5dbb12b5a3c98\"\
        ,\"creditcardType\":{\"idCreditcardType\":1,\"description\":\"VISA\",\"name\"\
        :\"VISA\"}}],\"clientInvoiceData\":[{\"idClientInvoiceData\":82597,\"name\"\
        :\"CUENCA LABS, S.A. DE C.V.\",\"rfc\":\"CLA180906225\",\"address\":{\"externalNumber\"\
        :\"265\",\"internalNumber\":\"\",\"latitude\":0.0,\"longitude\":0.0,\"neighborhood\"\
        :\"JU\xC1REZ\",\"street\":\"AVENIDA PASEO DE LA REFORMA\",\"municipality\"\
        :\"CUAUHT\xC9MOC\",\"state\":\"CIUDAD DE M\xC9XICO\",\"zipCode\":\"06500\"\
        ,\"originalAddress\":\"AVENIDA PASEO DE LA REFORMA 265, JU\xC1REZ, CUAUHT\xC9\
        MOC, CIUDAD DE M\xC9XICO 06500\"}}],\"paymentMethods\":[{\"idPaymentMethod\"\
        :4,\"description\":\"Orden Prepagada\",\"name\":\"credit_prepaid\",\"zones\"\
        :\"|1|2|3|\"}],\"clientReferral\":{\"idClientReferral\":82549,\"referralBalance\"\
        :0.0,\"referralCode\":\"VJBPC\"},\"clientConfigurations\":[{\"idClientConfiguration\"\
        :729904,\"dateAdd\":1540589334000,\"dateEdit\":1600986187536,\"isActive\"\
        :true,\"userAdd\":\"register.client\",\"userEdit\":\"Priscila Gabriela_747F5_u\"\
        ,\"idConfiguration\":1,\"idClient\":82597},{\"idClientConfiguration\":729905,\"\
        dateAdd\":1540589334000,\"dateEdit\":1600986187536,\"isActive\":true,\"userAdd\"\
        :\"register.client\",\"userEdit\":\"Priscila Gabriela_747F5_u\",\"idConfiguration\"\
        :2,\"idClient\":82597},{\"idClientConfiguration\":729906,\"dateAdd\":1540589334000,\"\
        dateEdit\":1600986187536,\"isActive\":true,\"userAdd\":\"register.client\"\
        ,\"userEdit\":\"Priscila Gabriela_747F5_u\",\"idConfiguration\":3,\"idClient\"\
        :82597},{\"idClientConfiguratio[...]
[...]
- request:
    body: '{"data": {"bOrder": {"idOrder": 9502058}}}'
    headers:
      Content-type:
      - application/json
    method: POST
    uri: https://api.ivoy.mx/play/data/rest/orderSharing/getOrderSharing/json/web
  response:
    body:
      string: '{"code":-111,"message":"Informacion invalida: Datos de la Orden"}'
    headers:
      Content-Type:
      - application/json
      WWW-Authenticate:
      - Key realm="kong"
    status:
      code: 200
      message: OK
version: 1
