interactions:
- request:
    body: '{"data": {"systemRequest": {"user": "USER", "password": "PASS"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ivoy.dev/api/login/loginClient/json/web
  response:
    body:
      string: '{"code": 0, "token": {"access_token": "123"}}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - EFvv_EjRIAMFTZw=
      x-amzn-Remapped-Content-Length:
      - '4891'
      x-amzn-Remapped-Date:
      - Mon, 02 Dec 2019 19:03:27 GMT
      x-amzn-RequestId:
      - c7647426-51f4-4122-b714-8d5517b554f7
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"systemRequest": {"user": "USER", "password": "PASS"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ivoy.dev/api/login/loginClient/json/web
  response:
    body:
      string: '{"code": 0, "token": {"access_token": "123"}}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - EFvwCGGnIAMFQIA=
      x-amzn-Remapped-Content-Length:
      - '4890'
      x-amzn-Remapped-Date:
      - Mon, 02 Dec 2019 19:03:28 GMT
      x-amzn-RequestId:
      - 27875f02-3372-43aa-a97b-99f5d8b171dc
    status:
      code: 200
      message: OK
version: 1
