interactions:
- request:
    body: '{"data": {"systemRequest": {"user": "USER", "password": "PASS"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ivoy.dev/api/login/loginClient/json/web
  response:
    body:
      string: '{"code": 0, "token": {"access_token": "123"}, "data":{"idClient": 69319}}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - HBjCZHdEoAMFbUg=
      x-amzn-Remapped-Content-Length:
      - '4891'
      x-amzn-Remapped-Date:
      - Tue, 28 Jan 2020 18:35:08 GMT
      x-amzn-RequestId:
      - b18ce887-ae8c-43b4-a1d7-68c684e0d8bb
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"bOrder": {"idOrder": "wrong"}}}'
    headers:
      Content-type:
      - application/json
    method: PUT
    uri: https://api.ivoy.dev/api/order/newOrder/json/web
  response:
    body:
      string: '{"code":-193,"message":"No existe ningun usuario con el correo anterior"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - HBjCdE3eoAMFm3w=
      x-amzn-Remapped-Content-Length:
      - '3859'
      x-amzn-Remapped-Date:
      - Tue, 28 Jan 2020 18:35:09 GMT
      x-amzn-RequestId:
      - 7d7b2bfa-303c-40b2-af6d-76be76d73556
    status:
      code: 200
      message: OK
version: 1
