interactions:
- request:
    body: '{"data": {"systemRequest": {"user": "USER", "password": "PASS"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ivoy.dev/api/login/loginClient/json/web
  response:
    body:
      string: '{"code": 0, "token": {"access_token": "123"}, "data": {"idClient":
        69319}}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - HbzltF5AoAMFudg=
      x-amzn-Remapped-Content-Length:
      - '5916'
      x-amzn-Remapped-Date:
      - Wed, 05 Feb 2020 17:47:42 GMT
      x-amzn-RequestId:
      - d2f0e3ba-f1e1-45bc-9459-7647458361e4
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"packageRequest": {"idClient": null, "packageList": [{"idPackage":
      40867}]}}}'
    headers:
      Content-type:
      - application/json
    method: PUT
    uri: https://api.ivoy.dev/public/packages/setData/deletePackage/json/web
  response:
    body:
      string: '{"code":0,"data":true}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - HbzlxGwDIAMFaBQ=
      x-amzn-Remapped-Content-Length:
      - '22'
      x-amzn-Remapped-Date:
      - Wed, 05 Feb 2020 17:47:42 GMT
      x-amzn-RequestId:
      - e22f8023-d4a2-41f5-b1f5-c0b148462286
    status:
      code: 200
      message: OK
version: 1
