interactions:
- request:
    body: '{"data": {"systemRequest": {"user": "USER", "password": "PASS"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ivoy.dev/api/login/loginClient/json/web
  response:
    body:
      string: '{"code": 0, "token": {"access_token": "123"}, "data":{"idClient": 69319}}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - EFvwhHDJIAMFRPQ=
      x-amzn-Remapped-Content-Length:
      - '4891'
      x-amzn-Remapped-Date:
      - Mon, 02 Dec 2019 19:03:31 GMT
      x-amzn-RequestId:
      - 52799cb3-e7e3-4adf-8c7c-2909af066adc
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"systemRequest": {"user": "USER", "password": "PASS"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ivoy.dev/api/login/loginClient/json/web
  response:
    body:
      string: '{"code": 0, "token": {"access_token": "123"}, "data": {"idClient":
        69319}}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - Hsgv6E8QoAMFVNQ=
      x-amzn-Remapped-Content-Length:
      - '6015'
      x-amzn-Remapped-Date:
      - Mon, 10 Feb 2020 19:26:29 GMT
      x-amzn-RequestId:
      - a0f42630-a4c0-4abe-932c-7767754d4df1
    status:
      code: 200
      message: OK
version: 1
