interactions:
- request:
    body: '{"data": {"systemRequest": {"user": "USER", "password": "PASS"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ivoy.dev/api/login/loginClient/json/web
  response:
    body:
      string: "{\"code\":0,\"data\":{\"idClient\":69319,\"cellPhone\":\"5500550000\"\
        ,\"device\":\"web\",\"email\":\"cuenca.dev@cuenca.com\",\"firstName\":\"Cuenca\"\
        ,\"isActive\":true,\"isPaymentMandatory\":0,\"lastName\":\"Dev\",\"nickname\"\
        :\"Cuenca_3CBL6_c\",\"clientProfile\":{\"idClientProfile\":6,\"dateAdd\":null,\"\
        dateDelete\":null,\"dateEdit\":null,\"description\":\"Clientes Credito/Prepago\"\
        ,\"name\":\"client_c_p\",\"userAdd\":null,\"userDelete\":null,\"userEdit\"\
        :null,\"clientModules\":[{\"idClientModule\":33,\"isMain\":null,\"dateAdd\"\
        :null,\"dateDelete\":null,\"dateEdit\":null,\"userAdd\":null,\"userDelete\"\
        :null,\"userEdit\":null,\"clientModule\":null,\"clientModules\":null,\"module\"\
        :{\"idModule\":54,\"dateAdd\":null,\"dateDelete\":null,\"dateEdit\":null,\"\
        description\":null,\"name\":\"client_credit_prepaid\",\"path\":\"/client/payMethod/creditPrepaid\"\
        ,\"userAdd\":null,\"userDelete\":null,\"userEdit\":null}},{\"idClientModule\"\
        :53,\"isMain\":null,\"dateAdd\":null,\"dateDelete\":null,\"dateEdit\":null,\"\
        userAdd\":null,\"userDelete\":null,\"userEdit\":null,\"clientModule\":null,\"\
        clientModules\":null,\"module\":{\"idModule\":57,\"dateAdd\":null,\"dateDelete\"\
        :null,\"dateEdit\":null,\"description\":null,\"name\":\"client_internal_guide\"\
        ,\"path\":\"/client/internal/guide\",\"userAdd\":null,\"userDelete\":null,\"\
        userEdit\":null}}]},\"clientType\":{\"idClientType\":8,\"dateAdd\":null,\"\
        dateDelete\":null,\"dateEdit\":null,\"description\":\"Cliente Same Day Credito\"\
        ,\"name\":\"client_same_day_credit\",\"userAdd\":null,\"userDelete\":null,\"\
        userEdit\":null},\"gender\":{\"idGender\":1,\"dateAdd\":null,\"dateDelete\"\
        :null,\"dateEdit\":null,\"description\":\"Hombre\",\"name\":\"male\",\"userAdd\"\
        :null,\"userDelete\":null,\"userEdit\":null},\"clientCreditcards\":[],\"clientInvoiceData\"\
        :[{\"idClientInvoiceData\":69319,\"dateAdd\":null,\"dateDelete\":null,\"dateEdit\"\
        :null,\"name\":\"CUENCA DEV\",\"rfc\":null,\"userAdd\":null,\"userDelete\"\
        :null,\"userEdit\":null,\"client\":null,\"address\":{\"latitude\":0.0,\"longitude\"\
        :0.0},\"neighborhood\":null,\"street\":null,\"municipality\":null,\"zipCode\"\
        :null,\"state\":null,\"country\":null}],\"smdClientPricings\":[{\"idSmdClientPricing\"\
        :45,\"dateAdd\":null,\"dateDelete\":null,\"dateEdit\":null,\"price\":50.0,\"\
        revenue\":40.0,\"userAdd\":null,\"userDelete\":null,\"userEdit\":null,\"idClient\"\
        :69319,\"tillWeight\":2.0,\"multiGuidePricings\":[],\"zone\":{\"idZone\":1,\"\
        description\":\"CDMX|M\xC9X.|MOR.|HGO.\",\"name\":\"cdmx\"}}],\"paymentMethods\"\
        :[{\"idPaymentMethod\":4,\"description\":\"Orden Prepagada\",\"name\":\"credit_prepaid\"\
        ,\"zones\":\"|1|2|3|\"}],\"clientReferral\":{\"idClientReferral\":69319,\"\
        dateAdd\":null,\"dateDelete\":null,\"dateEdit\":null,\"referralBalance\":0.0,\"\
        referralCode\":\"SAP7R\",\"userAdd\":null,\"userDelete\":null,\"userEdit\"\
        :null,\"client\":null,\"clientReferring\":null},\"clientConfigurations\":[{\"\
        idClientConfiguration\":636616,\"dateAdd\":1575479743244,\"dateDelete\":null,\"\
        dateEdit\":1580830861000,\"value\":null,\"isActive\":true,\"userDelete\":null,\"\
        userAdd\":\"register.client\",\"userEdit\":\"Octavio_P5XUL_u\",\"idConfiguration\"\
        :1,\"idClient\":69319},{\"idClientConfiguration\":636617,\"dateAdd\":1575479743244,\"\
        dateDelete\":null,\"dateEdit\":1580830861000,\"value\":null,\"isActive\":false,\"\
        userDelete\":null,\"userAdd\":\"register.client\",\"userEdit\":\"Octavio_P5XUL_u\"\
        ,\"idConfiguration\":2,\"idClient\":69319},{\"idClientConfiguration\":636618,\"\
        dateAdd\":1575479743244,\"dateDelete\":null,\"dateEdit\":1580830861000,\"\
        value\":null,\"isActive\":true,\"userDelete\":null,\"userAdd\":\"register.client\"\
        ,\"userEdit\":\"Octavio_P5XUL_u\",\"idConfiguration\":3,\"idClient\":69319},{\"\
        idClientConfiguration\":636619,\"dateAdd\":1575479743244,\"dateDelete\":null,\"\
        dateEdit\":1580830861000,\"value\":null,\"isActive\":false,\"userDelete\"\
    [...]
[...]
- request:
    body: '{"data": {"bPackage": {"idPackage": 40874, "ivoyGuide": "000303389P000040874",
      "comment": "EDITADISIMA", "guide": "000303389P000040874", "address": {"externalNumber":
      "27", "internalNumber": "", "latitude": "19.41042803794819", "longitude": "-99.16771385476989",
      "neighborhood": "Hip\u00f3dromo", "street": "Michoac\u00e1n", "municipality":
      "Cuauhtemoc", "state": "CDMX", "zipCode": "06100", "idAddress": 303421}, "contact":
      {"name": "Andres Hernandez", "phone": "5529372492", "email": "andres@cuenca.com",
      "idContact": 687452}, "packageType": {"idPackageType": 1}, "isOffice": true,
      "client": {"idClient": "69319"}}}}'
    headers:
      Content-type:
      - application/json
    method: PUT
    uri: https://api.ivoy.dev/public/package/editPackage/json/web
  response:
    body:
      string: "{\"code\":0,\"data\":[{\"idPackage\":40874,\"comment\":\"EDITADISIMA\"\
        ,\"price\":50.0,\"address\":{\"idAddress\":303389,\"externalNumber\":\"27\"\
        ,\"latitude\":19.41042803794819,\"longitude\":-99.16771385476989,\"neighborhood\"\
        :\"HIP\xD3DROMO\",\"street\":\"MICHOAC\xC1N\",\"municipality\":\"CUAUHTEMOC\"\
        ,\"state\":\"CDMX\",\"zipCode\":\"6100\"},\"client\":{\"idClient\":69319,\"\
        cellPhone\":\"5500550000\",\"email\":\"cuenca.dev@cuenca.com\",\"firstName\"\
        :\"Cuenca\",\"isPaymentMandatory\":0,\"lastName\":\"Dev\",\"clientReferral\"\
        :{\"idClientReferral\":null,\"dateAdd\":null,\"dateDelete\":null,\"dateEdit\"\
        :null,\"referralBalance\":0.0,\"referralCode\":\"SAP7R\",\"userAdd\":null,\"\
        userDelete\":null,\"userEdit\":null,\"client\":null,\"clientReferring\":null},\"\
        parent\":false},\"contact\":{\"idContact\":687452,\"name\":\"Andres Hernandez\"\
        ,\"phone\":\"5529372492\",\"email\":\"andres@cuenca.com\"},\"packageStatus\"\
        :{\"idPackageStatus\":1,\"description\":\"Paquete creado\",\"name\":\"created\"\
        },\"packageType\":{\"idPackageType\":1,\"name\":\"envelope\",\"description\"\
        :\"Sobre\",\"zones\":\"|1|2|3|\"},\"isOffice\":true,\"guide\":\"000303389P000040874\"\
        ,\"guideIvoy\":\"000303389P000040874\",\"packageVisitCount\":0,\"packageHistory\"\
        :[{\"idPackageHistory\":201319,\"idPackage\":40874,\"packageStatus\":{\"idPackageStatus\"\
        :1,\"description\":\"Paquete creado\",\"name\":\"created\"},\"namePackageStatus\"\
        :\"Paquete creado\",\"dateAdd\":1581033404466,\"dateDelete\":null,\"dateEdit\"\
        :null,\"userAdd\":\"Cuenca_3CBL6_c\",\"userDelete\":null,\"userEdit\":null,\"\
        offLine\":false},{\"idPackageHistory\":201320,\"idPackage\":40874,\"packageStatus\"\
        :{},\"namePackageStatus\":\"Paquete Editado\",\"dateAdd\":1581034439368,\"\
        dateDelete\":null,\"dateEdit\":null,\"userAdd\":\"Cuenca_3CBL6_c\",\"userDelete\"\
        :null,\"userEdit\":null,\"offLine\":false},{\"idPackageHistory\":201321,\"\
        idPackage\":40874,\"packageStatus\":{},\"namePackageStatus\":\"Paquete Editado\"\
        ,\"dateAdd\":1581036468587,\"dateDelete\":null,\"dateEdit\":null,\"userAdd\"\
        :\"Cuenca_3CBL6_c\",\"userDelete\":null,\"userEdit\":null,\"offLine\":false}],\"\
        height\":0.0,\"width\":0.0,\"length\":0.0,\"volWeight\":0.0,\"realWeight\"\
        :0.0,\"smdClientPricing\":{\"idSmdClientPricing\":45,\"dateAdd\":null,\"dateDelete\"\
        :null,\"dateEdit\":null,\"price\":0.0,\"revenue\":0.0,\"userAdd\":null,\"\
        userDelete\":null,\"userEdit\":null,\"idClient\":null,\"tillWeight\":0.0,\"\
        multiGuidePricings\":[],\"zone\":{}},\"clientWarehouse\":{\"idClientWarehouse\"\
        :1388,\"dateAdd\":null,\"dateDelete\":null,\"dateEdit\":null,\"description\"\
        :\"Cuenca Dev\",\"isMain\":true,\"name\":\"Almac\xE9n\",\"userAdd\":null,\"\
        userDelete\":null,\"userEdit\":null,\"address\":{\"idAddress\":301668,\"externalNumber\"\
        :\"36\",\"latitude\":19.4244499,\"longitude\":-99.16771389999997,\"neighborhood\"\
        :\"JU\xC1REZ\",\"street\":\"VARSOVIA\",\"state\":\"CDMX\",\"zipCode\":\"6600\"\
        },\"idClient\":69319,\"contact\":{\"name\":\"cuenca\",\"phone\":\"5555555555\"\
        ,\"email\":\"cuenca.dev@cuenca.com\"},\"warehouseInternalId\":null,\"useSenderContact\"\
        :false},\"validInfo\":2,\"similarity\":0.0,\"originalAddress\":\"MICHOAC\xC1\
        N 27 INT , HIP\xD3DROMO\\n C. P. 06100\",\"newVisitReason\":0,\"packageProcess\"\
        :{\"idPackageProcess\":1,\"description\":\"Recolecci\xF3n\",\"name\":\"collection\"\
        },\"numGuides\":0,\"guideIvoyParent\":\"\"}]}"
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - HgEEOEPhoAMFugA=
      x-amzn-Remapped-Content-Length:
      - '2949'
      x-amzn-Remapped-Date:
      - Fri, 07 Feb 2020 00:47:48 GMT
      x-amzn-RequestId:
      - f405097e-4e90-4baf-b6ea-be996cfe2ea6
    status:
      code: 200
      message: OK
version: 1
