interactions:
- request:
    body: '{"data": {"systemRequest": {"user": "USER", "password": "PASS"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ivoy.dev/api/login/loginClient/json/web
  response:
    body:
      string: '{"code": 0, "token": {"access_token": "123"}, "data":{"idClient": 69319}}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - HBZ1qHh-oAMFoKQ=
      x-amzn-Remapped-Content-Length:
      - '4891'
      x-amzn-Remapped-Date:
      - Tue, 28 Jan 2020 17:32:20 GMT
      x-amzn-RequestId:
      - 13de2e6b-89b6-49e3-80ff-a595ca00eb27
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"bOrder": {"idOrder": "wrong"}}}'
    headers:
      Content-type:
      - application/json
    method: PUT
    uri: https://api.ivoy.dev/api/order/newOrder/json/web
  response:
    body:
      string: '{"code":-199,"message":"Falta informacion del cobro"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - HBZ1wESKIAMFeJQ=
      x-amzn-Remapped-Content-Length:
      - '3859'
      x-amzn-Remapped-Date:
      - Tue, 28 Jan 2020 17:32:21 GMT
      x-amzn-RequestId:
      - 2c948cd9-3cb9-4fb8-b608-38c841a175bd
    status:
      code: 200
      message: OK
version: 1
