interactions:
- request:
    body: '{"data": {"systemRequest": {"user": "USER", "password": "PASS"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ivoy.dev/api/login/loginClient/json/web
  response:
    body:
      string: '{"code": 0, "token": {"access_token": "123"}}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - HBnKxHd_oAMF8PA=
      x-amzn-Remapped-Content-Length:
      - '4891'
      x-amzn-Remapped-Date:
      - Tue, 28 Jan 2020 19:03:20 GMT
      x-amzn-RequestId:
      - e5872bc5-f02a-473b-a18a-3a80916a7319
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"bOrder": {"idOrder": "wrong"}}}'
    headers:
      Content-type:
      - application/json
    method: PUT
    uri: https://api.ivoy.dev/api/order/newOrder/json/web
  response:
    body:
      string: '{"code":-157,"message":"Hubo un error con nuestro servicio de facturación intente más tarde"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - HBnK3FqqoAMFbrQ=
      x-amzn-Remapped-Content-Length:
      - '3859'
      x-amzn-Remapped-Date:
      - Tue, 28 Jan 2020 19:03:22 GMT
      x-amzn-RequestId:
      - f2cbce5d-ba2a-403b-bd72-55b7c7ff017b
    status:
      code: 200
      message: OK
version: 1
