interactions:
- request:
    body: '{"data": {"systemRequest": {"user": "USER", "password": "PASS"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ivoy.mx/api/login/loginClient/json/web
  response:
    body:
      string: '{"code": 0, "token": {"access_token": "123"}, "data": {"idClient":
        69319}}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - HsgxSFy8oAMFjkg=
      x-amzn-Remapped-Content-Length:
      - '6013'
      x-amzn-Remapped-Date:
      - Mon, 10 Feb 2020 19:26:38 GMT
      x-amzn-RequestId:
      - c03865d0-0c76-4637-b131-f6840eb96d36
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"packageRequest": {"idClient": "69319", "packageList": [{"idPackage":
      40870}]}}}'
    headers:
      Content-type:
      - application/json
    method: PUT
    uri: https://api.ivoy.mx/public/packages/setData/deletePackage/json/web
  response:
    body:
      string: '{"code":0,"data":true}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - HsgxfGRUIAMFRyw=
      x-amzn-Remapped-Content-Length:
      - '22'
      x-amzn-Remapped-Date:
      - Mon, 10 Feb 2020 19:26:39 GMT
      x-amzn-RequestId:
      - aa116ee8-4eab-4484-ab8b-f97221922050
    status:
      code: 200
      message: OK
version: 1
