interactions:
- request:
    body: '{"data": {"systemRequest": {"user": "USER", "password": "PASS"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ivoy.dev/api/login/loginClient/json/web
  response:
    body:
      string: '{"code": 0, "token": {"access_token": "123"}}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - D1Rp9HUMoAMFkQw=
      x-amzn-Remapped-Content-Length:
      - '4891'
      x-amzn-Remapped-Date:
      - Wed, 27 Nov 2019 19:07:31 GMT
      x-amzn-RequestId:
      - 2ab27cd3-7db8-4115-afe5-22240aae29da
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"bOrder": {"idOrder": 1438597}}}'
    headers:
      Content-type:
      - application/json
    method: POST
    uri: https://data.alb.api.ivoy.mx/api/orderSharing/createSharingURL/json/web
  response:
    body:
      string: '{"code":0,"data":{"messengerRate":0.0,"trackingURL":"https://v2.ivoy.mx/client/app/share/MTQzODU5N2k="}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
