interactions:
- request:
    body: '{"data": {"systemRequest": {"user": "USER", "password": "PASS"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ivoy.dev/api/login/loginClient/json/web
  response:
    body:
      string: '{"code": 0, "token": {"access_token": "123"}, "data": {"idClient":
        69319}}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - HsgwFHrMIAMFkCg=
      x-amzn-Remapped-Content-Length:
      - '6013'
      x-amzn-Remapped-Date:
      - Mon, 10 Feb 2020 19:26:32 GMT
      x-amzn-RequestId:
      - 3c376c54-a10e-42fb-8e50-a9537c2005ca
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"bPackage": {"idPackage": 40871}}}'
    headers:
      Content-type:
      - application/json
    method: POST
    uri: https://api.ivoy.dev/public/package/selectPackage/json/web
  response:
    body:
      string: "{\"code\":0,\"data\":{\"idPackage\":40871,\"comment\":\"Churrer\xED\
        a El Moro\",\"price\":50.0,\"address\":{\"idAddress\":303389,\"externalNumber\"\
        :\"27\",\"latitude\":19.41042803794819,\"longitude\":-99.16771385476989,\"\
        neighborhood\":\"HIP\xD3DROMO\",\"street\":\"MICHOAC\xC1N\",\"municipality\"\
        :\"CUAUHTEMOC\",\"state\":\"CDMX\",\"zipCode\":\"6100\"},\"client\":{\"idClient\"\
        :69319,\"cellPhone\":\"5500550000\",\"email\":\"cuenca.dev@cuenca.com\",\"\
        firstName\":\"Cuenca\",\"isPaymentMandatory\":0,\"lastName\":\"Dev\",\"clientReferral\"\
        :{\"idClientReferral\":null,\"dateAdd\":null,\"dateDelete\":null,\"dateEdit\"\
        :null,\"referralBalance\":0.0,\"referralCode\":\"SAP7R\",\"userAdd\":null,\"\
        userDelete\":null,\"userEdit\":null,\"client\":null,\"clientReferring\":null},\"\
        parent\":false},\"contact\":{\"idContact\":687452,\"name\":\"Andres Hernandez\"\
        ,\"phone\":\"5529372492\",\"email\":\"andres@cuenca.com\"},\"packageStatus\"\
        :{\"idPackageStatus\":1,\"description\":\"Paquete creado\",\"name\":\"created\"\
        },\"packageType\":{\"idPackageType\":1,\"name\":\"envelope\",\"description\"\
        :\"Sobre\",\"zones\":\"|1|2|3|\"},\"isOffice\":true,\"guide\":\"000303389P000040871\"\
        ,\"guideIvoy\":\"000303389P000040871\",\"packageVisitCount\":0,\"packageHistory\"\
        :[{\"idPackageHistory\":201307,\"idPackage\":40871,\"packageStatus\":{\"idPackageStatus\"\
        :1,\"description\":\"Paquete creado\",\"name\":\"created\"},\"namePackageStatus\"\
        :\"Paquete creado\",\"dateAdd\":1580925884946,\"dateDelete\":null,\"dateEdit\"\
        :null,\"userAdd\":\"Cuenca_3CBL6_c\",\"userDelete\":null,\"userEdit\":null,\"\
        offLine\":false}],\"height\":0.0,\"width\":0.0,\"length\":0.0,\"volWeight\"\
        :0.0,\"realWeight\":0.0,\"smdClientPricing\":{\"idSmdClientPricing\":45,\"\
        dateAdd\":null,\"dateDelete\":null,\"dateEdit\":null,\"price\":50.0,\"revenue\"\
        :40.0,\"userAdd\":null,\"userDelete\":null,\"userEdit\":null,\"idClient\"\
        :69319,\"tillWeight\":2.0,\"multiGuidePricings\":[],\"zone\":{\"idZone\":1,\"\
        description\":\"CDMX|M\xC9X.|MOR.|HGO.\",\"name\":\"cdmx\"}},\"clientWarehouse\"\
        :{\"idClientWarehouse\":1388,\"dateAdd\":null,\"dateDelete\":null,\"dateEdit\"\
        :null,\"description\":\"Cuenca Dev\",\"isMain\":true,\"name\":\"Almac\xE9\
        n\",\"userAdd\":null,\"userDelete\":null,\"userEdit\":null,\"address\":{\"\
        idAddress\":301668,\"externalNumber\":\"36\",\"latitude\":19.4244499,\"longitude\"\
        :-99.16771389999997,\"neighborhood\":\"JU\xC1REZ\",\"street\":\"VARSOVIA\"\
        ,\"state\":\"CDMX\",\"zipCode\":\"6600\"},\"idClient\":69319,\"contact\":{\"\
        name\":\"cuenca\",\"phone\":\"5555555555\",\"email\":\"cuenca.dev@cuenca.com\"\
        },\"warehouseInternalId\":null,\"useSenderContact\":false},\"validInfo\":2,\"\
        similarity\":0.0,\"originalAddress\":\"MICHOAC\xC1N 27 INT , HIP\xD3DROMO\\\
        n C. P. 06100\",\"newVisitReason\":0,\"packageProcess\":{\"idPackageProcess\"\
        :1,\"description\":\"Recolecci\xF3n\",\"name\":\"collection\"},\"numGuides\"\
        :0}}"
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - HsgwcHHFoAMFy0w=
      x-amzn-Remapped-Content-Length:
      - '2521'
      x-amzn-Remapped-Date:
      - Mon, 10 Feb 2020 19:26:33 GMT
      x-amzn-RequestId:
      - 88b7696f-4094-465a-a193-6828c8876aa3
    status:
      code: 200
      message: OK
version: 1
