interactions:
- request:
    body: '{"data": {"systemRequest": {"user": "USER", "password": "PASS"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ivoy.mx/api/login/loginClient/json/web
  response:
    body:
      string: '{"code": 0, "token": {"access_token": "123"}, "data":{"idClient": 69319}}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - EFvxsGaIoAMFiyA=
      x-amzn-Remapped-Content-Length:
      - '4891'
      x-amzn-Remapped-Date:
      - Mon, 02 Dec 2019 19:03:38 GMT
      x-amzn-RequestId:
      - 8a3fd81b-f14a-4789-a364-d240dd008879
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"bOrder": {"idOrder": "wrong"}}}'
    headers:
      Content-type:
      - application/json
    method: PUT
    uri: https://api.ivoy.mx/api/order/cancelOrder/json/web
  response:
    body:
      string: '{"code":-100,"message":"Formato invalido"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - EFvxwHZQIAMFRhA=
      x-amzn-Remapped-Content-Length:
      - '42'
      x-amzn-Remapped-Date:
      - Mon, 02 Dec 2019 19:03:39 GMT
      x-amzn-RequestId:
      - 9b22b36a-851b-44b5-90f6-605eab0731ce
    status:
      code: 200
      message: OK
version: 1
