interactions:
- request:
    body: '{"data": {"systemRequest": {"user": "USER", "password": "PASS"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ivoy.dev/api/login/loginClient/json/web
  response:
    body:
      string: '{"code": 0, "token": {"access_token": "123"}, "data":{"idClient": 69319}}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - HBoY1FJSIAMFnJA=
      x-amzn-Remapped-Content-Length:
      - '4891'
      x-amzn-Remapped-Date:
      - Tue, 28 Jan 2020 19:11:39 GMT
      x-amzn-RequestId:
      - 1ea71c90-5ce7-48b0-aa51-1a9faefd76d1
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"bOrder": {"idOrder": "wrong"}}}'
    headers:
      Content-type:
      - application/json
    method: PUT
    uri: https://api.ivoy.dev/api/order/newOrder/json/web
  response:
    body:
      string: '{"code":-114,"message":"El punto de recolección esta fuera de cobertura"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - HBoY9EeoIAMF0Hw=
      x-amzn-Remapped-Content-Length:
      - '3859'
      x-amzn-Remapped-Date:
      - Tue, 28 Jan 2020 19:11:41 GMT
      x-amzn-RequestId:
      - 78766bcd-d51c-49b2-83fc-1b7020daaeaf
    status:
      code: 200
      message: OK
version: 1
