interactions:
- request:
    body: '{"data": {"systemRequest": {"user": "USER", "password": "PASS"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ivoy.dev/api/login/loginClient/json/web
  response:
    body:
      string: '{"code": 0, "token": {"access_token": "123"}}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - EFvwhHDJIAMFRPQ=
      x-amzn-Remapped-Content-Length:
      - '4891'
      x-amzn-Remapped-Date:
      - Mon, 02 Dec 2019 19:03:31 GMT
      x-amzn-RequestId:
      - 52799cb3-e7e3-4adf-8c7c-2909af066adc
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"systemRequest": {"user": "USER", "password": "PASS"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ivoy.dev/api/login/loginClient/json/web
  response:
    body:
      string: '{"code": 0, "token": {"access_token": "123"}}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - EFvwjH9goAMFyaQ=
      x-amzn-Remapped-Content-Length:
      - '4890'
      x-amzn-Remapped-Date:
      - Mon, 02 Dec 2019 19:03:31 GMT
      x-amzn-RequestId:
      - 65d9a651-f700-4eab-b03f-34a0d6d09001
    status:
      code: 200
      message: OK
version: 1
