interactions:
- request:
    body: '{"data": {"systemRequest": {"user": "USER", "password": "PASS"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ivoy.dev/api/login/loginClient/json/web
  response:
    body:
      string: '{"code": 0, "token": {"access_token": "123"}, "data":{"idClient": 69319}}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - G_bv-Gl7IAMF1AA=
      x-amzn-Remapped-Content-Length:
      - '4891'
      x-amzn-Remapped-Date:
      - Tue, 28 Jan 2020 03:11:34 GMT
      x-amzn-RequestId:
      - 11d72eed-7134-47dc-9be7-d77c7c49f8fd
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"bOrder": {"idOrder": "wrong"}}}'
    headers:
      Content-type:
      - application/json
    method: PUT
    uri: https://api.ivoy.dev/api/order/newOrder/json/web
  response:
    body:
      string: '{"code":-101,"message":"Invalid Phone"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - G_bwDE_8IAMF9Hg=
      x-amzn-Remapped-Content-Length:
      - '3849'
      x-amzn-Remapped-Date:
      - Tue, 28 Jan 2020 03:11:36 GMT
      x-amzn-RequestId:
      - eb746563-8dae-4b7f-96ce-d2ef7dcee2b3
    status:
      code: 200
      message: OK
version: 1
