interactions:
- request:
    body: '{"data": {"systemRequest": {"user": "USER", "password": "PASS"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ivoy.mx/api/login/loginClient/json/web
  response:
    body:
      string: '{"code": 0, "token": {"access_token": "123"}, "data": {"idClient":
        69319}}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - Hsgw3GhDoAMFy6g=
      x-amzn-Remapped-Content-Length:
      - '6013'
      x-amzn-Remapped-Date:
      - Mon, 10 Feb 2020 19:26:36 GMT
      x-amzn-RequestId:
      - a1712088-78b7-480a-ba1d-902eb6505903
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"bPackage": {"idPackage": 40874, "ivoyGuide": "000303389P000040874",
      "comment": "EDITADISIMA", "guide": "000303389P000040874", "address": {"externalNumber":
      "27", "internalNumber": "", "latitude": "19.41042803794819", "longitude": "-99.16771385476989",
      "neighborhood": "Hip\u00f3dromo", "street": "Michoac\u00e1n", "municipality":
      "Cuauhtemoc", "state": "CDMX", "zipCode": "06100", "idAddress": 303421}, "contact":
      {"name": "Andres Hernandez", "phone": "5529372492", "email": "andres@cuenca.com",
      "idContact": 687452}, "packageType": {"idPackageType": 1}, "isOffice": true,
      "client": {"idClient": "69319"}}}}'
    headers:
      Content-type:
      - application/json
    method: PUT
    uri: https://api.ivoy.mx/public/package/editPackage/json/web
  response:
    body:
      string: "{\"code\":0,\"data\":[{\"idPackage\":40874,\"comment\":\"EDITADISIMA\"\
        ,\"price\":50.0,\"address\":{\"idAddress\":303389,\"externalNumber\":\"27\"\
        ,\"latitude\":19.41042803794819,\"longitude\":-99.16771385476989,\"neighborhood\"\
        :\"HIP\xD3DROMO\",\"street\":\"MICHOAC\xC1N\",\"municipality\":\"CUAUHTEMOC\"\
        ,\"state\":\"CDMX\",\"zipCode\":\"6100\"},\"client\":{\"idClient\":69319,\"\
        cellPhone\":\"5500550000\",\"email\":\"cuenca.dev@cuenca.com\",\"firstName\"\
        :\"Cuenca\",\"isPaymentMandatory\":0,\"lastName\":\"Dev\",\"clientReferral\"\
        :{\"idClientReferral\":null,\"dateAdd\":null,\"dateDelete\":null,\"dateEdit\"\
        :null,\"referralBalance\":0.0,\"referralCode\":\"SAP7R\",\"userAdd\":null,\"\
        userDelete\":null,\"userEdit\":null,\"client\":null,\"clientReferring\":null},\"\
        parent\":false},\"contact\":{\"idContact\":687452,\"name\":\"Andres Hernandez\"\
        ,\"phone\":\"5529372492\",\"email\":\"andres@cuenca.com\"},\"packageStatus\"\
        :{\"idPackageStatus\":1,\"description\":\"Paquete creado\",\"name\":\"created\"\
        },\"packageType\":{\"idPackageType\":1,\"name\":\"envelope\",\"description\"\
        :\"Sobre\",\"zones\":\"|1|2|3|\"},\"isOffice\":true,\"guide\":\"000303389P000040874\"\
        ,\"guideIvoy\":\"000303389P000040874\",\"packageVisitCount\":0,\"packageHistory\"\
        :[{\"idPackageHistory\":201319,\"idPackage\":40874,\"packageStatus\":{\"idPackageStatus\"\
        :1,\"description\":\"Paquete creado\",\"name\":\"created\"},\"namePackageStatus\"\
        :\"Paquete creado\",\"dateAdd\":1581033404466,\"dateDelete\":null,\"dateEdit\"\
        :null,\"userAdd\":\"Cuenca_3CBL6_c\",\"userDelete\":null,\"userEdit\":null,\"\
        offLine\":false},{\"idPackageHistory\":201320,\"idPackage\":40874,\"packageStatus\"\
        :{},\"namePackageStatus\":\"Paquete Editado\",\"dateAdd\":1581034439368,\"\
        dateDelete\":null,\"dateEdit\":null,\"userAdd\":\"Cuenca_3CBL6_c\",\"userDelete\"\
        :null,\"userEdit\":null,\"offLine\":false},{\"idPackageHistory\":201321,\"\
        idPackage\":40874,\"packageStatus\":{},\"namePackageStatus\":\"Paquete Editado\"\
        ,\"dateAdd\":1581036468587,\"dateDelete\":null,\"dateEdit\":null,\"userAdd\"\
        :\"Cuenca_3CBL6_c\",\"userDelete\":null,\"userEdit\":null,\"offLine\":false},{\"\
        idPackageHistory\":201322,\"idPackage\":40874,\"packageStatus\":{},\"namePackageStatus\"\
        :\"Paquete Editado\",\"dateAdd\":1581097257294,\"dateDelete\":null,\"dateEdit\"\
       [...]
