interactions:
- request:
    body: '{"data": {"systemRequest": {"user": "USER", "password": "PASS"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ivoy.dev/api/login/loginClient/json/web
  response:
    body:
      string: '{"code": 0, "token": {"access_token": "123"}}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - D1qejEZMIAMFX9A=
      x-amzn-Remapped-Content-Length:
      - '4891'
      x-amzn-Remapped-Date:
      - Wed, 27 Nov 2019 21:56:57 GMT
      x-amzn-RequestId:
      - f593e5ce-30a5-492a-a767-0d945e3af5ca
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"bOrder": {"idOrder": "wrong"}}}'
    headers:
      Content-type:
      - application/json
    method: POST
    uri: https://api.ivoy.dev/api/order/getById/json/web
  response:
    body:
      string: '{"code":-100,"message":"Formato invalido"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - D1qenGTPoAMFUiQ=
      x-amzn-Remapped-Content-Length:
      - '42'
      x-amzn-Remapped-Date:
      - Wed, 27 Nov 2019 21:56:58 GMT
      x-amzn-RequestId:
      - 25c45a56-cbb2-4af5-9e02-cb198ce11272
    status:
      code: 200
      message: OK
version: 1
