interactions:
- request:
    body: '{"data": {"systemRequest": {"user": "USER", "password": "PASS"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ivoy.dev/api/login/loginClient/json/web
  response:
    body:
      string: '{"code": 0, "token": {"access_token": "123"}, "data":{"idClient": 69319}}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - HBXvqHUIIAMFpaw=
      x-amzn-Remapped-Content-Length:
      - '4891'
      x-amzn-Remapped-Date:
      - Tue, 28 Jan 2020 17:18:02 GMT
      x-amzn-RequestId:
      - f0ce2454-1923-4eca-99bd-e2bc1289deb1
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"bOrder": {"idOrder": "wrong"}}}'
    headers:
      Content-type:
      - application/json
    method: PUT
    uri: https://api.ivoy.dev/api/order/newOrder/json/web
  response:
    body:
      string: '{"code":-124,"message":"El codigo de referido anterior no existe"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - HBXvuFF0oAMFbxQ=
      x-amzn-Remapped-Content-Length:
      - '3859'
      x-amzn-Remapped-Date:
      - Tue, 28 Jan 2020 17:18:04 GMT
      x-amzn-RequestId:
      - f506256e-abf5-40dc-a621-05b382c87cca
    status:
      code: 200
      message: OK
version: 1
