interactions:
- request:
    body: '{"data": {"systemRequest": {"user": "USER", "password": "PASS"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ivoy.dev/api/login/loginClient/json/web
  response:
    body:
      string: '{"code": 0, "token": {"access_token": "123"}}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - E38qWHoyIAMFXcg=
      x-amzn-Remapped-Content-Length:
      - '4891'
      x-amzn-Remapped-Date:
      - Wed, 18 Dec 2019 00:36:56 GMT
      x-amzn-RequestId:
      - 9c645311-1a0d-46bf-acbf-cd3b6ae28b06
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"bOrder": {"idOrder": 1502057}}}'
    headers:
      Content-type:
      - application/json
    method: POST
    uri: https://data.alb.api.ivoy.mx/api/orderSharing/getOrderSharing/json/web
  response:
    body:
      string: '{"code":0,"data":{"idOrder":1502057,"points":[{"latitude":19.424422,"longitude":-99.16791699999999,"location":"19.424422,-99.16791699999999","distance":0.0,"duration":0.0,"order":0},{"latitude":19.517968,"longitude":-99.04116649999997,"location":"19.517968,-99.04116649999997","distance":0.0,"duration":0.0,"order":1}],"messengerLocation":{"latitude":19.5138,"longitude":-99.033,"location":"19.5138,-99.033","distance":0.0,"duration":0.0,"order":1},"clientName":"Bob
        Marley CUENCA","messengerName":"Peter Parker","messengerRate":4.92}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
