interactions:
- request:
    body: '{"data": {"systemRequest": {"user": "USER", "password": "PASS"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ivoy.mx/api/login/loginClient/json/web
  response:
    body:
      string: '{"code": 0, "token": {"access_token": "123"}, "data": {"idClient":
        69319}}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - Hsgv3GYXoAMFl1w=
      x-amzn-Remapped-Content-Length:
      - '6013'
      x-amzn-Remapped-Date:
      - Mon, 10 Feb 2020 19:26:29 GMT
      x-amzn-RequestId:
      - 470678c2-00b6-43ca-9a3e-68c2125f4e84
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"packageRequest": {"idClient": "69319", "idClientWarehouse":
      null, "packageList": [{"comment": "Churrer\u00eda El Moro", "address": {"externalNumber":
      "27", "internalNumber": "", "latitude": "19.41042803794819", "longitude": "-99.16771385476989",
      "neighborhood": "Hip\u00f3dromo", "street": "Michoac\u00e1n", "municipality":
      "Cuauhtemoc", "state": "CDMX", "zipCode": "06100", "idAddress": null}, "contact":
      {"name": "Andres Hernandez", "phone": "5529372492", "email": "andres@cuenca.com",
      "idContact": null}, "packageType": {"idPackageType": 1}, "isOffice": true}]}}}'
    headers:
      Content-type:
      - application/json
    method: PUT
    uri: https://api.ivoy.mx/public/packages/setData/newPackage/json/web
  response:
    body:
      string: "{\"code\":0,\"data\":[{\"idPackage\":40877,\"comment\":\"Churrer\xED\
        a El Moro\",\"price\":50.0,\"address\":{\"idAddress\":303389,\"externalNumber\"\
        :\"27\",\"latitude\":19.41042803794819,\"longitude\":-99.16771385476989,\"\
        neighborhood\":\"HIP\xD3DROMO\",\"street\":\"MICHOAC\xC1N\",\"municipality\"\
        :\"CUAUHTEMOC\",\"state\":\"CDMX\",\"zipCode\":\"6100\"},\"client\":{\"idClient\"\
        :69319,\"email\":\"cuenca.dev@cuenca.com\",\"firstName\":\"Cuenca\",\"isPaymentMandatory\"\
        :0,\"lastName\":\"Dev\",\"parent\":false},\"contact\":{\"idContact\":687452,\"\
        name\":\"Andres Hernandez\",\"phone\":\"5529372492\",\"email\":\"andres@cuenca.com\"\
        },\"packageStatus\":{\"idPackageStatus\":1},\"packageType\":{\"idPackageType\"\
        :1},\"isOffice\":true,\"guide\":\"000303389P000040877\",\"guideIvoy\":\"000303389P000040877\"\
        ,\"packageVisitCount\":0,\"packageHistory\":[],\"height\":0.0,\"width\":0.0,\"\
        length\":0.0,\"volWeight\":0.0,\"realWeight\":0.0,\"smdClientPricing\":{\"\
        idSmdClientPricing\":45,\"dateAdd\":null,\"dateDelete\":null,\"dateEdit\"\
        :null,\"price\":0.0,\"revenue\":0.0,\"userAdd\":null,\"userDelete\":null,\"\
        userEdit\":null,\"idClient\":null,\"tillWeight\":0.0,\"multiGuidePricings\"\
        :[],\"zone\":{}},\"validInfo\":2,\"similarity\":0.0,\"originalAddress\":\"\
        MICHOAC\xC1N 27 INT , HIP\xD3DROMO\\n C. P. 06100\",\"newVisitReason\":0,\"\
        packageProcess\":{\"idPackageProcess\":1},\"numGuides\":0}]}"
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - Hsgv-EZsoAMFxTQ=
      x-amzn-Remapped-Content-Length:
      - '1218'
      x-amzn-Remapped-Date:
      - Mon, 10 Feb 2020 19:26:30 GMT
      x-amzn-RequestId:
      - cce3fc99-208d-47f8-b34c-1da6b571609a
    status:
      code: 200
      message: OK
version: 1
