interactions:
- request:
    body: '{"data": {"systemRequest": {"user": "USER", "password": "PASS"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ivoy.dev/api/login/loginClient/json/web
  response:
    body:
      string: '{"code": 0, "token": {"access_token": "123"}}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - HBj0gEPboAMFz-w=
      x-amzn-Remapped-Content-Length:
      - '4891'
      x-amzn-Remapped-Date:
      - Tue, 28 Jan 2020 18:40:29 GMT
      x-amzn-RequestId:
      - 27b392c0-401c-4b76-82ce-0cfb2f5729be
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"bOrder": {"idOrder": "wrong"}}}'
    headers:
      Content-type:
      - application/json
    method: PUT
    uri: https://api.ivoy.dev/api/order/newOrder/json/web
  response:
    body:
      string: '{"code":-251,"message":"Token no pudo ser creado"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - HBj0wGZEIAMF-cA=
      x-amzn-Remapped-Content-Length:
      - '3859'
      x-amzn-Remapped-Date:
      - Tue, 28 Jan 2020 18:40:31 GMT
      x-amzn-RequestId:
      - 78fd32ca-c231-4b7f-9595-52ac9c1d1750
    status:
      code: 200
      message: OK
version: 1
