interactions:
- request:
    body: '{"data": {"systemRequest": {"user": "USER", "password": "PASS"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ivoy.mx/api/login/loginClient/json/web
  response:
    body:
      string: '{"code": 0, "token": {"access_token": "123"}, "data":{"idClient": 69319}}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - HBiY_Gz7IAMFrSw=
      x-amzn-Remapped-Content-Length:
      - '4891'
      x-amzn-Remapped-Date:
      - Tue, 28 Jan 2020 18:30:43 GMT
      x-amzn-RequestId:
      - 8983f245-a4c2-42af-a0e4-0a36c1e75457
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"bOrder": {"idOrder": "wrong"}}}'
    headers:
      Content-type:
      - application/json
    method: PUT
    uri: https://api.ivoy.mx/api/order/newOrder/json/web
  response:
    body:
      string: '{"code":-139,"message":"Saldo insuficiente"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - HBiZIEKMoAMFoDg=
      x-amzn-Remapped-Content-Length:
      - '3859'
      x-amzn-Remapped-Date:
      - Tue, 28 Jan 2020 18:30:48 GMT
      x-amzn-RequestId:
      - 26245f14-760c-48d9-a5c8-e3f9887139eb
    status:
      code: 200
      message: OK
version: 1
