interactions:
- request:
    body: '{"data": {"systemRequest": {"user": "USER", "password": "PASS"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ivoy.dev/api/login/loginClient/json/web
  response:
    body:
      string: '{"code": 0, "token": {"access_token": "123"}}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - G_dvLHmRIAMFVLA=
      x-amzn-Remapped-Content-Length:
      - '4891'
      x-amzn-Remapped-Date:
      - Tue, 28 Jan 2020 03:25:08 GMT
      x-amzn-RequestId:
      - 1fce0944-75e1-4d6b-b552-153621d8246e
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"bOrder": {"idOrder": "wrong"}}}'
    headers:
      Content-type:
      - application/json
    method: PUT
    uri: https://api.ivoy.dev/api/order/newOrder/json/web
  response:
    body:
      string: '{"code":-160,"message":"Servicio no disponible"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - G_dvPFwHoAMFdhw=
      x-amzn-Remapped-Content-Length:
      - '3859'
      x-amzn-Remapped-Date:
      - Tue, 28 Jan 2020 03:25:10 GMT
      x-amzn-RequestId:
      - 71636503-529a-4da4-bde8-6f7d542e645f
    status:
      code: 200
      message: OK
version: 1
