interactions:
- request:
    body: '{"data": {"systemRequest": {"user": "USER", "password": "PASS"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ivoy.dev/api/login/loginClient/json/web
  response:
    body:
      string: '{"code": 0, "token": {"access_token": "123"}, "data":{"idClient": 69319}}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - HBmi8Gk0oAMFwHg=
      x-amzn-Remapped-Content-Length:
      - '4891'
      x-amzn-Remapped-Date:
      - Tue, 28 Jan 2020 18:59:05 GMT
      x-amzn-RequestId:
      - fcfe25d6-5ed7-4912-957b-45311fcd1323
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"bOrder": {"idOrder": "wrong"}}}'
    headers:
      Content-type:
      - application/json
    method: PUT
    uri: https://api.ivoy.dev/api/order/newOrder/json/web
  response:
    body:
      string: '{"code":-112,"message":"Rango de fechas invalido"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - HBmjFFgPoAMFfpA=
      x-amzn-Remapped-Content-Length:
      - '3859'
      x-amzn-Remapped-Date:
      - Tue, 28 Jan 2020 18:59:07 GMT
      x-amzn-RequestId:
      - a7cb6e0a-0bdc-465d-b65c-4624e903c353
    status:
      code: 200
      message: OK
version: 1
