interactions:
- request:
    body: '{"data": {"systemRequest": {"user": "USER", "password": "PASS"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ivoy.dev/api/login/loginClient/json/web
  response:
    body:
      string: '{"code": 0, "token": {"access_token": "123"}}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - HBY74FwOoAMFRmg=
      x-amzn-Remapped-Content-Length:
      - '4891'
      x-amzn-Remapped-Date:
      - Tue, 28 Jan 2020 17:26:10 GMT
      x-amzn-RequestId:
      - 2fcf69b7-6cb9-4482-b4e1-ca98cabf0c71
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"bOrder": {"idOrder": "wrong"}}}'
    headers:
      Content-type:
      - application/json
    method: PUT
    uri: https://api.ivoy.dev/api/order/newOrder/json/web
  response:
    body:
      string: '{"code":-258,"message":"Vehiculo invalido"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - HBY78FBCoAMF4DA=
      x-amzn-Remapped-Content-Length:
      - '3859'
      x-amzn-Remapped-Date:
      - Tue, 28 Jan 2020 17:26:11 GMT
      x-amzn-RequestId:
      - 57785abe-eb95-43e4-93b1-9cefd118de25
    status:
      code: 200
      message: OK
version: 1
