interactions:
- request:
    body: '{"data": {"systemRequest": {"user": "USER", "password": "PASS"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ivoy.dev/api/login/loginClient/json/web
  response:
    body:
      string: '{"code": 0, "token": {"access_token": "123"}, "data":{"idClient": 69319}}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - E4GHEHWiIAMFulw=
      x-amzn-Remapped-Content-Length:
      - '4891'
      x-amzn-Remapped-Date:
      - Wed, 18 Dec 2019 01:41:26 GMT
      x-amzn-RequestId:
      - 55029ec0-09c0-4029-b9f1-49a44a810cbe
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"bOrder": {"idOrder": 123}}}'
    headers:
      Content-type:
      - application/json
    method: POST
    uri: https://data.alb.api.ivoy.mx/api/orderSharing/getOrderSharing/json/web
  response:
    body:
      string: '{"code":-111,"message":"Informacion invalida: Datos de la Orden"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
