interactions:
- request:
    body: '{"data": {"systemRequest": {"user": "USER", "password": "PASS"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ivoy.dev/api/login/loginClient/json/web
  response:
    body:
      string: '{"code": 0, "token": {"access_token": "123"}}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - D1qfDFFaoAMFgTw=
      x-amzn-Remapped-Content-Length:
      - '4891'
      x-amzn-Remapped-Date:
      - Wed, 27 Nov 2019 21:57:01 GMT
      x-amzn-RequestId:
      - 7ac76b04-e391-45b4-933b-f14457b39d51
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"bOrder": {"idOrder": "wrong"}}}'
    headers:
      Content-type:
      - application/json
    method: PUT
    uri: https://api.ivoy.dev/api/order/cancelOrder/json/web
  response:
    body:
      string: '{"code":-100,"message":"Formato invalido"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - D1qfGGccoAMFfJw=
      x-amzn-Remapped-Content-Length:
      - '42'
      x-amzn-Remapped-Date:
      - Wed, 27 Nov 2019 21:57:01 GMT
      x-amzn-RequestId:
      - ca8da55d-af7f-4961-9a1c-21aaf45d4a83
    status:
      code: 200
      message: OK
version: 1
