interactions:
- request:
    body: '{"data": {"systemRequest": {"user": "USER", "password": "PASS"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ivoy.dev/api/login/loginClient/json/web
  response:
    body:
      string: '{"code": 0, "token": {"access_token": "123"}, "data": {"idClient":
        69319}}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - HbzlTFBZIAMFUkA=
      x-amzn-Remapped-Content-Length:
      - '5916'
      x-amzn-Remapped-Date:
      - Wed, 05 Feb 2020 17:47:39 GMT
      x-amzn-RequestId:
      - d2d9328d-ba0b-4306-ad3e-570a64cbeca8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"packageRequest": {"idClient": null, "idClientWarehouse": null,
      "packageList": [{"idPackage": null, "ivoyGuide": null, "comment": "Churrer\u00eda
      El Moro", "guide": null, "numGuides": null, "guides": null, "address": {"externalNumber":
      "27", "internalNumber": "", "latitude": "19.41042803794819", "longitude": "-99.16771385476989",
      "neighborhood": "Hip\u00f3dromo", "street": "Michoac\u00e1n", "municipality":
      "Cuauhtemoc", "state": "CDMX", "zipCode": "06100", "idAddress": null}, "contact":
      {"name": "Andres Hernandez", "phone": "5529372492", "email": "andres@cuenca.com",
      "idContact": null}, "packageType": {"idPackageType": 1}, "isOffice": true, "height":
      null, "width": null, "length": null, "realWeight": null, "price": null}]}}}'
    headers:
      Content-type:
      - application/json
    method: PUT
    uri: https://api.ivoy.dev/public/packages/setData/newPackage/json/web
  response:
    body:
      string: "{\"code\":0,\"data\":[{\"idPackage\":40869,\"comment\":\"Churrer\xED\
        a El Moro\",\"price\":50.0,\"address\":{\"idAddress\":303389,\"externalNumber\"\
        :\"27\",\"latitude\":19.41042803794819,\"longitude\":-99.16771385476989,\"\
        neighborhood\":\"HIP\xD3DROMO\",\"street\":\"MICHOAC\xC1N\",\"municipality\"\
        :\"CUAUHTEMOC\",\"state\":\"CDMX\",\"zipCode\":\"6100\"},\"client\":{\"idClient\"\
        :69319,\"email\":\"cuenca.dev@cuenca.com\",\"firstName\":\"Cuenca\",\"isPaymentMandatory\"\
        :0,\"lastName\":\"Dev\",\"parent\":false},\"contact\":{\"idContact\":687452,\"\
        name\":\"Andres Hernandez\",\"phone\":\"5529372492\",\"email\":\"andres@cuenca.com\"\
        },\"packageStatus\":{\"idPackageStatus\":1},\"packageType\":{\"idPackageType\"\
        :1},\"isOffice\":true,\"guide\":\"000303389P000040869\",\"guideIvoy\":\"000303389P000040869\"\
        ,\"packageVisitCount\":0,\"packageHistory\":[],\"height\":0.0,\"width\":0.0,\"\
        length\":0.0,\"volWeight\":0.0,\"realWeight\":0.0,\"smdClientPricing\":{\"\
        idSmdClientPricing\":45,\"dateAdd\":null,\"dateDelete\":null,\"dateEdit\"\
        :null,\"price\":0.0,\"revenue\":0.0,\"userAdd\":null,\"userDelete\":null,\"\
        userEdit\":null,\"idClient\":null,\"tillWeight\":0.0,\"multiGuidePricings\"\
        :[],\"zone\":{}},\"validInfo\":2,\"similarity\":0.0,\"originalAddress\":\"\
        MICHOAC\xC1N 27 INT , HIP\xD3DROMO\\n C. P. 06100\",\"newVisitReason\":0,\"\
        packageProcess\":{\"idPackageProcess\":1},\"numGuides\":0}]}"
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - HbzlXHxWIAMF0Ow=
      x-amzn-Remapped-Content-Length:
      - '1218'
      x-amzn-Remapped-Date:
      - Wed, 05 Feb 2020 17:47:40 GMT
      x-amzn-RequestId:
      - 3c6b9d10-c6b7-41df-b0f9-8f25da1653b7
    status:
      code: 200
      message: OK
version: 1
