interactions:
- request:
    body: '{"data": {"systemRequest": {"user": "USER", "password": "PASS"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ivoy.dev/api/login/loginClient/json/web
  response:
    body:
      string: '{"code": 0, "token": {"access_token": "123"}}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - D1RqIEvHoAMF9pA=
      x-amzn-Remapped-Content-Length:
      - '4891'
      x-amzn-Remapped-Date:
      - Wed, 27 Nov 2019 19:07:32 GMT
      x-amzn-RequestId:
      - 8cba9fb9-a4d4-4883-a763-5b38b9a3a258
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"bOrder": {"idOrder": 1437397}}}'
    headers:
      Content-type:
      - application/json
    method: POST
    uri: https://data.alb.api.ivoy.mx/api/orderSharing/createSharingURL/json/web
  response:
    body:
      string: "{\"code\":-283,\"message\":\"El tracking de tu orden no esta disponible\
        \ , consulta m\xE1s tarde\"}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
